@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>@Model.Value("articlesTitle")</h2>
            @Model.Value("articleContent")
        </header>

       
       
    </div>
</section>